<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970529353485-rqpi25v4utm9d9dfar4mqn1nfm2al4vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970529353485-rqpi25v4utm9d9dfar4mqn1nfm2al4vn</string>
	<key>API_KEY</key>
	<string>AIzaSyDqVyfegYVGvsRDXubXcLt7ClstQ8Gsz-w</string>
	<key>GCM_SENDER_ID</key>
	<string>970529353485</string>
	<key>New item</key>
	<string></string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecodrive</string>
	<key>PROJECT_ID</key>
	<string>my-portfolio-248515</string>
	<key>STORAGE_BUCKET</key>
	<string>my-portfolio-248515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:970529353485:ios:9878b0f7b542bc99</string>
	<key>DATABASE_URL</key>
	<string>https://my-portfolio-248515.firebaseio.com</string>
</dict>
</plist>
